$red: #db4d52;
$black: #525d67;
$white: #fbfbfb;
$light-gray: #f7fafb;
$gray: #95a5a6;
$dark-gray: #747f8c;

$global-font-color: $black;
$global-font-size: 16px;
$global-body-width: 860px;
$global-container-padding: 0 20px;
$global-lineheight: 1.5;
$global-font-family: 'Source Sans Pro', 'Helvetica Neue';
$global-serif-font-family: STHeiti, Microsoft Yahei, serif;
$global-background: $white;

$global-headings: (
  h1: 1.5rem,
  h2: 1.4rem,
  h3: 1.3rem,
  h4: 1.2rem,
  h5: 1.1rem,
  h6: 1.0rem
);

$header-padding: 20px 10px;

$logo-font-size: 48px;
$logo-font-family: $global-font-family;
$menu-item-margin-left: 10px;
$menu-link-font-size: 18px;

$footer-margin-top: 2em;
$copyright-margin: 10px 0;

$post-list-margin-bottom: 20px ;
$post-padding: 1em 0 2em ;
$post-border: 1px solid;
$post-title-font-size: 27px;
$post-title-font-weight: 200;
$post-meta-margin-top: 5px;
$post-readMore-border-bottom: 1px solid;
$post-time-font-color: $gray;

$post-toc-width: 200px;
$post-toc-title-size: 20px;
$post-toc-content: 15px;
$post-toc-list-style: square;

$post-footer-margin-top: 40px;
$post-footer-border-top: 1px solid;
$post-tags-padding: 15px 0;
$post-nav-font-size: 18px;

$content-headings-anchor: "§";
$content-link-border: 1px solid;

$pagination-margin: 2em 0;
$pagination-font-size: 20px;

$archive-margin: 2em auto;
$archive-max-width: 760px;
$archive-name-font-size: 30px;
$collection-title-font-size: 28px;
$archive-post-padding: 3px 20px;
$archive-post-border-left: 1px solid $gray;

$tag-cloud-title-size: 18px;
$tag-cloud-title-border-bottom: 2px solid;
$tag-cloud-tags-link-margin: 5px 10px;

$categories-title-size: 18px;
$categories-title-border-bottom: 2px solid;
$categories-tags-link-margin: 5px 10px;
$category-count-font-size: 12px;

$code-color: #7f8c8d;
$code-font-size: 13px;
$code-font-family: Consolas, Monaco, Menlo, monospace;

$code-highlight-color: (
  comment: #93a1a1,
  keyword: #859900,
  number: #2aa198,
  name: #268bd2,
  attribute: #b58900,
  symbol: #cb4b16,
  built_in: #dc322f
);

$code-type-list: (
  html: "HTML",
  js: "JavaScript",
  bash: "Bash",
  css: "CSS",
  scss: "Scss",
  java: "Java",
  xml: "XML",
  python: "Python",
  json: "JSON",
  swift: "Swift",
  ruby: "Ruby",
  php: "PHP",
  c: "C",
  cpp: "C++",
  scheme: "Scheme",
  objectivec: "Objective-C",
  yml: "YAML",
  stylus: "Stylus"
);

$code-background: $light-gray;
