@import '_common/normalize';
@import '_common/utils';
@import 'variables';

@import 'header';
@import 'post';
@import 'footer';
@import 'pagination';

@import 'archives';
@import 'tags';
@import 'categories';

html {
  font-size: $global-font-size;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $global-font-family;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $global-lineheight;
  color: $global-font-color;
  background: $global-background;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

a {
  color: $global-font-color;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    color: $red;
  }
}

@each $header, $size in $global-headings {
  #{$header} {
    font-size: $size;
    font-family: $global-serif-font-family;
  }
}

.container {
  margin: 0 auto;
  width: $global-body-width;
}

@include max-screen() {
  .container {
    width: 100%;
  }
}

.content-wrapper {
  padding: $global-container-padding;
}
